body{
    background-color: #f5f5f5;
}

.row{
    margin: 0 !important;
}
.navbar{
    background-color: #ffffff !important;
}

.nav-item{
    height: 45px;
}
.nav-item a{
    color: rgb(0, 0, 0) !important;
}
.nav-item:hover{
    border-bottom: 2px solid #014f86;
}

#nav-logo:hover{
    border-bottom: 0px !important;
}

/* Carousel */
.carousel{
    max-height: 50vh;
}
.carousel img{
    max-height: 50vh;
}
.center{
    text-align: center;
}
.section-search button{
    width: 100%;
}

.announce-header{
    margin-top: 20px;
}

.announce-btn{
    width: 150px;
}

.section-divider{
    margin-top: 30px
}

#see-offers-btn{
    width: 100%
}

#warning{
    width: 100%;
    height: 40px;
    padding: 8px;
    background-color: #014f86;
    margin: 0 !important;
    color: #fff;
}

#warning a{
    color: #fff;
}

#home-header{
    background-image: url('/img/header-img.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0 !important;
    padding-bottom: 30px !important;
}
#header-text{
    color: #fff;
    margin-top: 50px;
    font-size: 40px;
}
#header-sub-text{
    color: #fff;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

#main-search-div{
    height: auto;
    background-color: #ffffff;
    margin-top: 50px !important;
    padding: 25px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
}

#main-search-div #search-input{
    height: 50px;
}

#main-search-div label{
    font-size: 18px;
    margin-top: 10px;
}
#search-btn{
    height: 50px;
}

.btn-default-color{
    background-color: #014f86;
    border-color: #014f86;
    color: #fff;
}

.btn-default-color:hover{
    color: #fff;
    background-color: #002b49;
}

#cards-block{
    padding: 30px;
}

.card-content{
    text-align: center;
}

.card-content i{
    font-size: 30px;
}

.card-content h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Announce Details */
.details-div{
    background-color: #fff;
    border-radius: 25px;
    margin-top: 20px;
}

.details-img img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    max-height: 45vh;
}


#price-div h2{
    width: auto;
    color: rgb(0, 0, 0);
}

#order-button{
    width: 100%;
    margin-bottom: 20px;
}

/* My announces */

#my-announces-div{
    margin-top: 10px;
}
#my-announces-div .card{
    margin-top: 10px;
}


/* Announce Details */
.edit-details-div{
    background-color: #fff;
    border-radius: 25px;
    margin-top: 20px;
}

.edit-details-div .details-img img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    max-height: 45vh;
}


.edit-details-div #price-div h2{
    width: auto;
    color: rgb(0, 0, 0);
}

.edit-details-div #order-button{
    width: 100%;
    margin-bottom: 20px;
}

.edit-details-div label{
    padding: 0;
}
.edit-details-div textarea{
    height: 200px;
}

/* Edit Announce */
#delete-announce-form{
    margin-top: -25px !important;
    margin-bottom: 20px !important;
}

/* All announces content */

#filter-message{
    margin-top: 20px !important;
}

#filter{
    padding: 20px;
}

#filter #form-select{
    margin-bottom: 20px;
}

#all-announces-content{
    background-color: #fff;
    margin-top: 20px;
    padding: 0 !important;
}
#all-announces-filter-div #filter{
    background-color: #fff;
    margin-top: 20px;
    border: 1px solid rgb(209, 209, 209);
}

.announce-item{
    height: 190px;
    width: 100%;
    background-color: grey;
    border: 1px solid rgb(209, 209, 209);
    margin-bottom: 10px;
}

.announce-item .announce-body{
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.announce-item .announce-body .announce-img-div{
    position: relative;
    padding: 0 !important;
}

.announce-item .announce-body img{
    height: 100%;
    width: 100%;
    position: absolute;
}

.announce-item .announce-body .annonce-overview-features p{
    margin: 5px !important;
}

.announce-item .announce-body .annonce-overview-features .car-options{
    margin-top: 10px;
}

.announce-item .announce-body .annonce-overview-features .car-options p{
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}

.announce-item .announce-body .annonce-overview-features .minimal-description{
    font-size: 15px;
    text-overflow: ellipsis;
}

.announce-item .announce-body .annonce-pricing{
    position: relative;
    
}

.announce-item .announce-body .annonce-pricing .price-text-div{
    background-color: #1148AD;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}

.announce-item .announce-body .annonce-pricing .discount-div{
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}

.announce-item .announce-body .annonce-pricing .discount-values{
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

.announce-item .announce-body .annonce-pricing .discount-price{
    color: #ff0000;
    text-decoration: line-through;
}

.announce-item .announce-body .annonce-pricing .btn-details-div{
    position: absolute;
    bottom: 5px;
    text-align: center;
}

/* Footer */
.page-footer{
    background-color: rgb(24, 24, 24);
    color: #ffff;
    bottom: 0 !important;
    position: absolute;
    width: 100% !important;
}